<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.isk.mapper.memberMapper">
	<select id="getTime" resultType="string">
	select sysdate 
	from dual
	</select>
	
	<insert id="insertMember">
	INSERT INTO MEMBER (ID,USER_NAME,PASSWORD,EMAIL) VALUES
	(#{id},#{user_name},#{password},#{email})
	</insert>
</mapper>