<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.apache.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.isk.mapper.memberMapper">
	<select id="getTime" resultType="string">
	select sysdate 
	from dual
	</select>
	
	<insert id="insertMember">
	INSERT INTO MEMBER (ID,USER_NAME,PASSWORD,EMAIL) VALUES
	(#{id},#{user_name},#{password},#{email})
	</insert>
	
	<select id="selectMember"  parameterType="org.isk.domain.MemberVO" resultType="Integer">
	SELECT 
		count(*) as cnt 
	FROM MEMBER 
	WHERE 1 = 1
		AND ID = #{id} 
		AND PASSWORD = #{password}
	</select>
	<update id="updateMember"  parameterType="org.isk.domain.MemberVO" >
	UPDATE 
		MEMBER
			SET PASSWORD = #{password_after}
		WHERE 1 = 1
			AND ID = #{id}
			AND PASSWORD = #{password}
	</update>
	<delete id="deleteMember" parameterType="org.isk.domain.MemberVO">
	DELETE
	FROM MEMBER
	WHERE 1 = 1
	AND ID = #{id}
	AND PASSWORD = #{password}
	</delete>
</mapper>